/* ********************** */
/* PRE SETS 

Main Color #fff
h1 color #000639
h3 color #5f5f5f
text color #7a7a7a
pointer color #019973

*/
.container {
  text-align: center;
  padding-bottom: 5rem;
  background-color: #fff;
  max-width: 125rem;
  margin: 0 2.5rem;
}

.heading-prime {
  color: #000639;
  font-size: 5.2rem;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  background-color: #fff;
  margin: 0 2.5rem;
  padding-bottom: 5rem;
  max-width: 125rem;
}

.left {
  width: 40rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  /* align-content: center;
  justify-items: center; */
}

.heading-ter {
  color: #5f5f5f;
  font-size: 2.4rem;
}

.feature-text {
  color: #7a7a7a;
  font-size: 1.8rem;
}

span {
  font-weight: 700;
  /* color: #019973; */
  font-style: italic;
}

/* .drag-n-drop {
  color: #019973;
} */

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px solid #ebebeb;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 30rem;
  cursor: pointer;
  color: #7a7a7a;
  font-size: 1rem;
}

.custom-file-upload:hover {
  color: #019973;
  border: 2px solid #019973;
  font-size: 1.4rem;
  transition: all 0.5s;
}
